.cards {
    display: flex;
    max-width: 80vw;
    margin: 0 auto;
    // margin-top: 10px;

    .card {
        width: 30%;
        // min-width: 180px;
        // min-height: 312px;
        margin: 3vh .6vw;
        border: 1px solid $card-shadow;
        border-radius: 12px;
        padding: 10px;
        box-shadow: 
            -2px 2px 2px 0px $card-shadow,
             2px 0px 0px 0px $card-shadow;
        // position: relative;
        overflow: hidden;

        .card-header {
            position: relative;
            height: 80px;
            h3 {
                font-weight: lighter;
                text-align: center;
                color: #6a6a6a;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
            }
        }

        hr {
            background: $card-shadow;
            border: none;
            border-radius: 5px;
            height: 2px;
        }

        a {
            text-decoration: none;
            color: black;
            .phone {
                text-align: center;
                margin-top: 10px;
                position: relative;

                .mobile {
                    display: none;
                }

                img {
                    height: 23px;
                    padding-top: 10px;
                    position: relative;
                    top: 5px;
                    margin: 0 10px;
                }
                
                span {
                    font-weight: 700;
                    font-size: 1.3em;
                    letter-spacing: .5px;
                }
            }
        }

        p {
            font-style: italic;
            font-size: .6em;
            text-align: center;
            margin: 11px 0 20px 0;
        }

        button {
            display: block;
            border: 1px solid #70c7c6;
            border-radius: 3px;
            margin: 0 auto 40px auto;
            padding: 10px;

            img {
                float: left;
                width: 16px;
                margin-right: 10px;
                margin-top: 2px;
            }
            span {
                float: right;
                color: $primary;
                font-weight: 600;
                font-size: 1.3em;
                letter-spacing: .5px;
            }
        }

        #hours {
            text-align: center;
            h4 {
                font-size: .7em;
                // margin: 0;
            }
            p {
                font-style: normal;
                margin: 5px;
                color: #6a6a6a;

            }
        }

        footer {
            background: $select;
            position: relative;
            padding-bottom: 25px;
            bottom: -30px;
            left: -18px;
            width: 115%;
            height: 80px;
            font-size: .5em;
            display: flex;
            flex-wrap: wrap;
            align-content: center;
            // flex-direction: row;
            // margin: 0 auto;


            .icon {
                display: inline-block;
                min-width: 45%;
                text-align: center;
                margin-left: 10px;
                padding-top: 10px;
                position: relative;
                
                img {
                    position: relative;
                    top: 1px;
                    width: 9px;
                    margin-right: 5px
                }
                span {
                    // float: right;
                    color: #6a6a6a;
                }
            }
        }
    } 

}

@media only screen and (max-width: 740px) {
    .cards {
        flex-direction: column;
        min-width: 90%;
        // align-content: center;
        align-items: center;
        .card {
            // min-width: 60vw;
            min-width: 90%;
            margin-top: -45px;
            position: relative;
            border-radius: 0;
            z-index: -1;

            hr {
                display: none;
            }

            a {
                .phone {
                    background: $accent;
                    height: 40px;
                    color: white;
                    width: 80%;
                    margin: 0 auto;
                    padding-bottom: 8px;

                    .desktop {
                        display: none;
                    }
                    .mobile {
                        display: inline-block;
                        z-index: 1;
                    }
                    .tel {
                        // position: relative;
                        width: 30px;
                        height: 30px;
                        margin-right: 5px;
                        float: left;
                        top: 0;   
                    }

                    .ttc {
                        font-size: .2em;
                        margin-top: 16px;
                    }
                    .tel-num {
                        margin-right: 15px;
                        margin-top: 8px;
                        float: right;
                    }
                }
            }

            footer {
                z-index: 0;
            }
        }
        :nth-child(2) {
            z-index: -2;
        }
        :nth-child(3) {
            z-index: -3;
        }
    }
}

@media only screen and (max-width: 440px) {
    .cards {
        .card {
            a {
                .phone {
                    .ttc {
                        display: block;
                        padding-top: 3px;
                    }
                    .tel-num {
                        display: block;
                        margin: 0;
                        float: none;
                        font-size: 1.2em;
                    }
                }
            }
        }
    }
}