header {
    font-family: 'Open Sans', sans-serif;
    box-shadow: 0 0 15px 0px $shadow;
    margin-bottom: 2vh;
    
    #topnav {
       background: $primary;
       color: white;
       height: 6vh;
       font-weight: lighter;
       font-size: .75em;
       padding-right: 5%;

        ul {
            display: flex;
            justify-content: flex-end;
            height: 100%;

            li {
                list-style: none;
                margin: 0 2vw;
                align-self: center;
                position: relative;

                span {
                    margin-right: 2vw;
                }
                img {
                    width: 13px;
                    position: absolute;
                    right: -5px;
                    bottom: 2px;
                    align-self: center;
                }
            }
        }
    }
    
    nav {
        display: flex;
        justify-content: space-around;
        height: 10vh;

        img {
            max-width: 18%;
            align-self: center;
        }

        ul {
            display: flex;
            justify-content: space-around;

            li {
                align-self: center;
                margin: 2vh;
                color: $primary;
                font-weight: 600;
                font-size: .9em;
            }
        }
        button {
            background: url('../assets/images/location-icon.png');
            background-position: 10% 50%;
            background-repeat: no-repeat;
            background-size: 7%;
            border: 1.5px solid $accent;
            border-radius: 3px;
            min-height: 7vh;
            min-width: 170px;
            align-self: center;
            color: $accent;
            font-weight: 700;
            font-size: .8em;
            letter-spacing: .8px;
            padding: 7px 0;
            padding-left: 15px;
        }
        #menu {
            display: none;
        }
    }
}

@media only screen and (max-width: 600px) {
    header {
        max-height: 9vh;
        
        #topnav {
            display: none;
        }

        
        nav {
            justify-content: space-between;

            img {
                align-self: center;
                max-width: 40%;
                margin-left: 1vw;
            }
            ul {
                display: none;
            }
            button {
                background-size: 15%;
                min-width: 30vw;
                min-height: 5vh;
                text-transform: uppercase;
                letter-spacing: -1px;
                font-weight: 800;
                padding-left: 18px;

                span {
                    display: none;
                }
            }

            #menu {
                display: block;
                max-width: 20vw;
                align-self: baseline;
            }
        }
    }

}