main {
    background-image: url('../assets/images/water-image.png');
    background-position: 0 -3vh;
    background-repeat: no-repeat;

    .wrapper {
        padding-top: 16vh;

        #select {
            display: flex;
            justify-content: center;
            align-items: center;
            background: $select;
            height: 10vh;
            max-width: 80vw;
            margin: 0 auto;
            border-radius: 8px;

            // .wrapper {
            //     padding-top: 0;
            //     text-align: center;

                #count {
                    // display: inline-block;
                    color: $accent;
                    font-weight: 600;
                    font-size: .9em;
                    border-right: 2px solid $border;
                    max-height: 70%;
                    padding: 0 2vw;
                    line-height: 3.5em;
                }

                fieldset {
                    border: none;
                    font-size: .55em;
                    margin-left: 2vw;
                    display: inline-block;

                    #legend {
                        font-size: 1.5em;
                        letter-spacing: .5px;
                        font-weight: 700;
                        margin-right: 3vw;
                    }

                    #drop {
                        display: none;
                    }
                    
                    * {
                    display: inline-block;
                    }

                    div {
                        color: #4d4d4d;

                        input {
                            margin: 0 .5vw;
                            // -webkit-appearance: none;
                            // visibility: hidden;
                            // background: purple;
                            // border: 2px solid green;
                            // height: 2vh;
                            // width: 2vh;
                        }
                        label {
                            margin-right: 2vw;
                        }
                    }
                    #help {
                        color: $accent;
                        font-weight: 600;
                        padding: 5px;
                        background: $border;
                        border-radius: 2px;
                        line-height: .55em;
                    }
                    #help:hover {
                        cursor: pointer;
                    }
                }
            }
        }
    // }
}


@media only screen and (max-width: 600px) {
    main {
        .wrapper {
            padding-top: 17vh;
            margin-bottom: 5vh;
            #select {
            display: block;
            position: relative;
            min-width: 100%;
            min-height: 50vh;
            
            #count {
                display: block;
                border-right: none;
                min-width: 45%;
                max-height: 8vh;
                font-size: 1em;
                letter-spacing: .7px;
                padding-top: 2vh;
                }

                fieldset {
                    max-width: 95%;
                    background: #fff;
                    display: block;
                    margin: 0 auto;
                    position: relative;
                    border: 1px solid $border;
                    
                    #legend {
                        display: block;
                        background: #fff;
                        border: 1px solid $border;
                        width: 35vw;
                        height: 5vh;
                        position: absolute;
                        top: -53px;
                        right: 43px;
                        text-align: center;
                        padding-top: 3vh;
                    }

                    #drop {
                        display: block;
                        background: $select;
                        width: 15vw;
                        height: 4.8vh;
                        border: 1px solid $border;
                        text-align: center;
                        padding-top: 3.2vh;
                        position: absolute;
                        right: -1px;
                        top: -53px;
                    }

                    div {
                        display: block;
                        font-size: 2em;
                        margin: 7vh 5vw;

                        input {
                            margin-left: 4vw;
                        }

                        label {
                            margin-left: 3vw;
                        }
                    }

                    #first-box {
                        margin-top: 3vh;
                    }
                    #last-box {
                        margin-bottom: 4vh;
                    }

                    #help {
                        position: absolute;
                        bottom: 3.8vh;
                        right: 40vw;
                        text-align: center;
                        padding: 8px 8px;
                        border-radius: 3px;
                    }
                }
            }
        }
    }
}